nav{
    display: flex;
    justify-content: space-around;
    background-color: #333;
    color: white;
    padding: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a.active{
    color:red
}
