<h1>dragonball-page works!</h1>
<hr/>
<section class="row">
    <div class="col-12 col-sm-6">
        <h3>Afegir personatge: {{name()}}</h3>

        <input 
            type="text" 
            class="form-control mt-2 mb-2" 
            placeholder="Nom del personatge"
            [value]="name()"
            (change)="name.set($event.target.value)"
            
        />

        <h3>Afegir valor del Power: {{power()}}</h3>
        <input 
            type="text" 
            class="form-control mt-2 mb-2" 
            placeholder="Poder del personatge"
            [value]="power()"
            (change)="power.set(+txtPower.value)"
            #txtPower
        />
      
        <button 
            class="btn btn-primary mt-2"
            (click)="addPersonatge()"
        >Afegir</button>
    </div> 
    <div class="col-12 col-sm-6">

        <h3>Llista de personatges:</h3>

        <ul class="list-group">
            @for (personatge of characters(); track personatge.id; let idx = $index) {
                @if (personatge.power > 7000) {
                    <li class="list-group-item">
                        {{idx +1 }} - {{ personatge.name }} - 
                    
                        <!-- <strong [class.text-danger] ="personatge.power < 7000"> -->
                        <!-- <strong [ngClass] ="powerClasses()[idx]"> -->
                        <strong [ngStyle]="powerStyles()[idx]">
                            {{ personatge.power }}
                        </strong>
                    
                        <!-- <button class="btn btn-danger btn-sm float-end">Eliminar</button> -->
                    </li>
                }  @else {
                     <strong> no cal mostrar el personatge de poders inferior o igual a 7000</strong>
                }
            }
        </ul>
    </div>
    <div class="col-12 mt-2">
        <a [routerLink]="['/hero']" [routerLinkActive]="'active'" >go to Hero</a> 
        <br/>
        <a (click)="router.navigate(['/dragonball-super'])" class="link-style">go to Dragonball Super</a>
    </div>

</section>