<!-- <h1>dragonball-page works!</h1> -->
<!-- <hr/> -->
<section class="row">

    <div class="col-12 col-sm-6">
        <!-- <character-add (characterAdded)="onCharacterAdded($event)" /> -->
        <character-add (characterAdded)="dragonballService.addCharacter($event)" />
    </div> 

    <div class="col-12 col-sm-6">
        <!-- [powerStyles]="powerStyles()"  -->
        <dragonball-character-list 
            [characters]="dragonballService.characters()" 
            listName="Llista de personatges"/>
    </div>
</section>